<h2>Seleccionar artículo</h2>

<%= form_tag('/articulo') do %>
	<div class="field">
		<label>Artículos</label><br>
	    <%= select_tag "articulo", options_for_select(@articles.collect{ |u| [ u.nombre, u.id]}) , {include_blank: true, multiple: false} %>
	</div>
	<div class="actions">
		<%= submit_tag( "Consultar", parametro: 1) %>
	</div>
<% end -%>

