<h1>Módulo Reportes</h1>
<h2>Salidas</h2>
<h3><%= link_to "Por artículo", '/reportes/articulo' %></h3>
<h3><%= link_to "Por equipo", '/reportes/equipo' %></h3>
<h3><%= link_to "Por operario", '/reportes/operario' %></h3>